body {
    background: rgb(255, 255, 255);
    background-image: url("tło.jpg");
}

.header{
    padding: 1px;
    text-align: center;
    background: #bebebe;
    color: white;
    font-size: 30px;
}

ul {
    list-style-type: none;
    border-radius: 15px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(92, 92, 92);
}   

li {
    float: left;
    border-right:1px solid #bbb;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(233, 233, 233);
    color: black;
}